<mat-toolbar color="accent">
  <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>shop</mat-icon>
    <span class="ml10">Shop ABC</span>
  </a>
  <span class="example-spacer"></span>
  <a *ngIf="!isLoggedIn" mat-icon-button class="example-icon favorite-icon mr20 m120"
     [routerLink]="'/login'"
     aria-label="Example icon-button with heart icon">Login

  </a>
  <a *ngIf="!isLoggedIn" mat-icon-button class="example-icon mr10"
     [routerLink]="'/signup'"
     routerLinkActive="active"
     aria-label="Example icon-button with share icon">Register
  </a>


  <button  routerLink="/admin/profile" *ngIf="isLoggedIn && user" style="margin-right: 50px" mat-icon-button class="example-icon mr20"
     aria-label="Example icon-button with share icon">{{user.username}}
  </button>
  <a (click)="logout()" *ngIf="isLoggedIn" mat-icon-button class="example-icon mr10"
     aria-label="Example icon-button with share icon">LogOut
  </a>
</mat-toolbar>
