.profile-img {
  max-width: 100px;
  max-height: 100px;
  border: 2px solid pink;
  border-radius: 50%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr td {
  padding: 15px 10px;
  border: 0.5px solid beige;

}

.w100 {
  width: 100%;
}
