.full-width{
  width: 100%;
}
.container-register100{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}
.wrap-login100 {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  position: relative;
}
