<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mt20">
          <mat-card-header>
            <mat-card-title>Read the instructions of this page carefully</mat-card-title>
            <mat-card-subtitle>One step more to go</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="ml20">
            <h1>{{quiz.title}}</h1>
            <p>{{quiz.description}}</p>
            <mat-divider></mat-divider>
            <br>
            <h1>Important Instructions</h1>
            <ul>
              <li>This quiz is only for practice purpose.</li>
              <!--              let the time of each question is 2 minutes-->
              <li>You have to submit quiz with in time.<b>{{quiz.numberOfQuestion * 2}} minutes.</b></li>
              <li>You can attempt the quiz any number of time.</li>
              <li>There are <b>{{quiz.numberOfQuestion}} question</b> is the quiz</li>
              <li>Each questions carries {{quiz.maxMarks / quiz.numberOfQuestion}} marks. No negative marking for
                wrong ones
              </li>
              <li>All questions is of MCQ Types</li>
            </ul>
            <mat-divider></mat-divider>
            <br>
            <h1>Attempting Quiz</h1>
            <ul>
              <li>Click <b>Start Quiz</b> button to start the quiz</li>
              <li>The time will start the moment you click the start test button</li>
              <li>You can not resume this quiz, if interrupted due to any reason</li>
            </ul>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button (click)="startQuiz()" color="primary" mat-raised-button>Start Quiz
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
