<div class="bootstrap-wrapper">
  <div class="container-fluid">

    <div class="col-md-12 text-center">

      <mat-card style="margin-top: 200px">
        <mat-card-content class="mt10">
          <mat-form-field appearance="fill" class="w100">
            <mat-label>Enter Password</mat-label>
            <input [(ngModel)]="loginData.password" matInput name="password" placeholder="Enter Here" type="text">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button (click)="formSubmit()" color="primary" mat-raised-button>Start Quiz
          </button>
        </mat-card-actions>
      </mat-card>


    </div>
  </div>
</div>
